@{
    ViewBag.Title = "Home";
}
<!--_______________________________________ Car Slides__________________________________ -->
<div class="slideshow-container">

    <div class="mySlides fade">
        <!--  <div class="numbertext">1 / 5</div> -->
        <img src="~/Resources/audia8.jpg" style="width:100%">
        <div class="text">AUDI A8</div>
    </div>

    <div class="mySlides fade">
        <!--  <div class="numbertext">2 / 5</div> -->
        <img src="~/Resources/bmw7.jpg" style="width:100%">
        <div class="text">BMW 7 SERIES</div>
    </div>

    <div class="mySlides fade">
        <!--  <div class="numbertext">3 / 5</div> -->
        <img src="~/Resources/mercs-class.jpg" style="width:100%">
        <div class="text">MERC S-CLASS</div>
    </div>

    <div class="mySlides fade">
        <!--   <div class="numbertext">4 / 5</div> -->
        <img src="~/Resources/mazda3.jpg" style="width:100%">
        <div class="text">MAZDA 3</div>
    </div>

    <div class="mySlides fade">
        <!--  <div class="numbertext">5 / 5</div> -->
        <img src="~/Resources/hondaaccord.jpg" style="width:100%">
        <div class="text">HONDA ACCORD</div>
    </div>

</div>

<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>
<!-- ____________________Featured Section ______________________________-->
<div class="allcontain" id="featuredcars">
    <div class="feturedsection">
        <h1 class="text-center"><span class="bdots">&bullet;</span>F E A T U R E D<span class="carstxt">C A R S</span>&bullet;</h1>
    </div>
    <div class="feturedimage">
        <div class="row firstrow">
            <div class="col-lg-6 costumcol colborder1">
                <div class="row costumrow">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                        <img src="~/Resources/audifeatured.jpg" alt="porsche">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant">
                            <h1>AUDI A8</h1>
                            <p>
                                The all-new Audi A8 L changes everything.  Underneath the elegant lines lies a car so advanced it doesn’t just change the game, it will forever transform the way you drive.
                            </p>
                            <h2>Price $97,800</h2>
                            <button id="btnRM">@Html.ActionLink("KNOW MORE", "AUDIA8", "Reviews") </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 costumcol colborder2">
                <div class="row costumrow">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
                        <img src="~/Resources/bmwfeatured.jpg" alt="porsche1">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                        <div class="featurecontant">
                            <h1>BMW 7 SERIES</h1>
                            <p>
                                The all-new BMW 7 Series stands for an extraordinary presence, maximum performance and unique comfort. The BMW 7 Series also extends driving pleasure and safety by means of digital.
                            </p>
                            <h2>Price $125,499</h2>
                            <button id="btnRM2">@Html.ActionLink("KNOW MORE", "BMW7", "Reviews")</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ________________________LATEST CARS SECTION _______________________-->
    <div class="latestcars" id="latestcars">
        <h1 class="text-center">&bullet; LATEST   CARS &bullet;</h1>
    </div>
    <div class="grid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="txthover">
                    <img src="~/Resources/car1.jpg" alt="car1">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">BMW 7 SERIES</h3>
                            <p>
                                Master every performance, enjoy every moment. The BMW 7 Series Sedan stands for self-assured presence, exceptional performance and maximum comfort.
                            </p>
                            <h4 class="price">$96,950</h4>
                            <button>@Html.ActionLink("READ MORE", "BMW7", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car2.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">AUDI R8</h3>
                            <p>
                                While many cars like to claim racing heritage, the R8 Coupe is a true thoroughbred. This car is born on the track and built for the road.
                            </p>
                            <h4 class="price">$164,900</h4>
                            <button>@Html.ActionLink("READ MORE", "AUDIR8", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car3.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">MERC S-CLASS</h3>
                            <p>
                                Today's S-Class previews the future of driving. It can change lanes with a tap of your finger. Slow itself for a tollboth or exit.
                            </p>
                            <h4 class="price">$126,300</h4>
                            <button>@Html.ActionLink("READ MORE", "MERCS", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car5 new.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">AUDI Q8</h3>
                            <p>
                                Born from a brand famous for iconic designs, the Q8 is instantly recognizable as an Audi, yet boldly creates its own unique identity.
                            </p>
                            <h4 class="price">$88,800</h4>
                            <button>@Html.ActionLink("READ MORE", "AUDIQ8", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car4 new.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">MERC C-CLASS</h3>
                            <p>
                                The C-Class wraps countless technological advances in even more seductive style for 2019. New lower body styling, wheel choices.
                            </p>
                            <h4 class="price">$46,100</h4>
                            <button>@Html.ActionLink("READ MORE", "MERCC", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car6.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">BMW i8</h3>
                            <p>
                                The i8 is the first high-performance sports car with the economy of a compact vehicle – and with its wind-cheating lines, it looks fast sitting still.
                            </p>
                            <h4 class="price">$169,900</h4>
                            <button>@Html.ActionLink("READ MORE", "BMWI8", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car7.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">MERC SLS</h3>
                            <p>
                                The Mercedes-Benz SLS AMG is a front mid-engine, 2-seater, limited production sports car developed by the Mercedes-AMG division of German automotive manufacturer Mercedes-Benz.
                            </p>
                            <h4 class="price">$634,900</h4>
                            <button>@Html.ActionLink("READ MORE", "MERCSLS", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="txthover">
                    <img src="~/Resources/car8.jpg" alt="car2">
                    <div class="txtcontent">
                        <div class="stars">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                        <div class="simpletxt">
                            <h3 class="name">AUDI A8</h3>
                            <p>
                                You never get a second chance at a first impression. The strong and elegant lines of the A8 L will ensure everyone knows you have arrived.
                            </p>
                            <h4 class="price">$97,800</h4>
                            <button>@Html.ActionLink("READ MORE", "AUDIA8", "Reviews")</button><br>

                        </div>
                        <div class="stars2">
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                            <div class="glyphicon glyphicon-star"></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- _______________________________News Letter ____________________-->
    <div class="newslettercontent" id="newsletter">
        <div class="leftside">
            <img src="~/Resources/border.png" alt="border">
            <h1>NEWSLETTER</h1>
            <p>
                Subscribe to the WIKICARSINFO mailing list to <br>
                receive updates on new arrivals, featured cars <br>
                and other information.
            </p>
        </div>
        <div class="rightside">
            <img class="newsimage" src="~/Resources/newsletter.jpg" alt="newsletter">
            <input type="text" class="form-control" id="subemail" placeholder="EMAIL">
            <button>SUBSCRIBE</button>
        </div>
    </div>
    <!-- ______________________________________________________Bottom Menu ______________________________-->
    <div class="bottommenu">
        <div class="bottomlogo">
            <span class="dotlogo">&bullet;</span><img src="~/Resources/collectionlogo1.png" alt="logo1"><span class="dotlogo">&bullet;</span>
        </div>
        <ul class="nav nav-tabs bottomlinks">
            <li role="presentation">@Html.ActionLink("ABOUT US", "About", "Home")</li>
            <li role="presentation"><a href="#latestcars">LATEST CARS</a></li>
            <li role="presentation"><a href="#featuredcars">FEATURED CARS</a></li>
            <li role="presentation">@Html.ActionLink("CONTACT US", "Contact", "Home")</li>
            <li role="presentation"><a href="#newsletter">RECEIVE OUR NEWSLETTER</a></li>
        </ul>
        <p>
            "There's a lot of stress... but once you get in the car, <br>
            all that goes out the window."
        </p>

    </div>
</div>



