@{
    ViewBag.Title = "AUDIR8";
}
<div>
    <!--  <div class="numbertext">1 / 5</div> -->
    <img src="~/Resources/audir8_home.jpg" style="width:100%">
    <div class="text" id="text1">AUDI R8</div>
</div>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

    <!-- About Container -->
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE AUDI R8</span></h5>
            <p id="justify">Deep within the factory at Neckarsulum, Germany, a small team of 241 dedicated specialists brings each unique R8 to life. Precision reigns supreme as these experts hand-measure and assemble the R8, only utilizing robots when absolutely necessary.</p>
            <p id="justify">Inspired by classic race cars of the past, the cabin has a “Monoposto” or single seat cabin design. Rich leather and exotic finishes combined bring luxury to the racetrack.</p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p id="justify"><i>"I'm a slave to the culture, so I see an Audi, a Denali, or an Escalade, my neighbor got the four-door Porsche. I have a really nice truck. But it's a Durango and I like frontin'! I like to ride by and show off."</i></p>
                <p>
                    Patrice O'Neal

                </p>
            </div>

            <p><strong>Official Website:</strong> <a href="https://www.audi.ca/ca/web/en/models/r8/r8-coupe.html">Click Here</a></p>

        </div>
    </div>

    <!-- Menu Container -->
    <div class="w3-container" id="menu">
        <div class="w3-content" style="max-width:700px">

            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Click on Specifications or Features to open</span></h5>

            <div class="w3-row w3-center w3-card w3-padding">
                <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
                    <div class="w3-col s6 tablink">Specifications</div>
                </a>
                <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
                    <div class="w3-col s6 tablink">Features</div>
                </a>
            </div>

            <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
                <h5>Acceleration </h5>
                <p class="w3-text-grey">
                    (0—60 mph) 3.7 seconds.
                </p><br>

                <h5>Max Power</h5>
                <p class="w3-text-grey">532@7,800.</p><br>

                <h5>TransmissionType</h5>
                <p class="w3-text-grey">Seven-speed S tronic® dual-clutch transmission with rear-wheel drive.</p><br>

                <h5>Engine Description</h5>
                <p class="w3-text-grey">3.0-litres 265bhp 24V Diesel Engine</p><br>

                                                                               <h5>Combined mpg</h5>
                                                                               <p class="w3-text-grey">18 mpg.</p>
            </div>

            <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
                <h5>Automatic Climate Control</h5>
                <p class="w3-text-grey">4 Zone</p><br>

                <h5>Steering Column</h5>
                <p class="w3-text-grey">Electrically Adjustable</p><br>

                <h5>Steering Gear Type</h5>
                <p class="w3-text-grey">Sport Leather/Aluminum Steering Wheel</p><br>

                <h5>Turning Radius (wheel base)</h5>
                <p class="w3-text-grey">5.6 meters</p><br>

                                                      <h5>ENTERTAINMENT</h5>
                                                      <p class="w3-text-grey">Radio: Audi MMI Navigation Plus -inc: Audi music interface w/2 USB ports, Audi smartphone interface, Bang & Olufsen sound system (13 speakers, 550 watts), Bluetooth streaming audio for compatible devices and wireless technology preparation for compatible mobile phones and SiriusXM satellite radio w/90-day trial subscription</p>
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />

    <!-- End page content -->
    @model WikiCarsInfo.Models.Review


    <div class="container">


        <h2 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">REVIEW THIS CAR</span></h2>

        @using (Ajax.BeginForm("AUDIR8", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "MainBody",
            OnSuccess = "resetForm"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="padding-left:20%;">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Review_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Review_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Review_Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Review_Subject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review_Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Your_Review, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Your_Review, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Your_Review, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }


    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <br />

    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <p>To see all reviews on cars. Please click on <strong>@Html.ActionLink("ALL REVIEWS", "Index", "Reviews")</strong></p>
        </div>
    </div>
</div>