@{
    ViewBag.Title = "BMW520";
}
<div>
    <!--  <div class="numbertext">1 / 5</div> -->
    <img src="~/Resources/bmw520_home.jpg" style="width:100%">
    <div class="text" id="text1">BMW 520</div>
</div>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

    <!-- About Container -->
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE BMW 520</span></h5>
            <p id="justify">Its mission statement: setting new standards. The BMW 5 Series is the embodiment of the modern business sedan. Thanks to its dynamic and simultaneously elegant appearance, it convincingly meets the expectations that are placed today on a vehicle of its class: aesthetic athleticism and driving pleasure with state-of-the-art technology.</p>
            <p id="justify"> Sporty and stylish for every occasion: the BMW 5 Series Sedan is always ahead of the competition thanks to its athletic appearance. Yet the success is not purely coincidental. After all, success is not simply in the genes – but an expression of precise attention to detail.</p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p id="justify"><i>"We at BMW do not build cars as consumer objects, just to drive from A to B. We build mobile works of art."</i></p>
                <p>
                    Chris Bangle

                </p>
            </div>

            <p><strong>Official Website:</strong> <a href="https://www.bmw.ca/en/all-models/5-series/sedan/2016/at-a-glance.html">Click Here</a></p>

        </div>
    </div>

    <!-- Menu Container -->
    <div class="w3-container" id="menu">
        <div class="w3-content" style="max-width:700px">

            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Click on Specifications or Features to open</span></h5>

            <div class="w3-row w3-center w3-card w3-padding">
                <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
                    <div class="w3-col s6 tablink">Specifications</div>
                </a>
                <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
                    <div class="w3-col s6 tablink">Features</div>
                </a>
            </div>

            <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
                <h5>SEATING CAPACITY</h5>
                <p class="w3-text-grey">5</p><br>

                                             <h5>DRIVETRAIN</h5>
                                             <p class="w3-text-grey">AWD</p><br>

                <h5>TransmissionType</h5>
                <p class="w3-text-grey">8-speed automatic</p><br>

                <h5>Engine Description</h5>
                <p class="w3-text-grey">Turbo 2.0L I4 (248 hp/258 lb-ft); turbo 3.0L I6 (335 hp/330 lb-ft); twin-turbo 4.4L V8 (455 hp/480 lb-ft); turbo 2.0L I4 with electric motor (248 net hp/310 lb-ft net torque)</p><br>

                <h5>Displacement</h5>
                <p class="w3-text-grey">2.0 L</p>
            </div>

            <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
                <h5>Standard Seat Trim</h5>
                <p class="w3-text-grey">Leather Seats</p><br>

                <h5>Steering Column</h5>
                <p class="w3-text-grey">Electrically Adjustable</p><br>

                <h5>Steering Gear Type</h5>
                <p class="w3-text-grey">Rack & Pinion</p><br>

                <h5>Turning Radius (wheel base)</h5>
                <p class="w3-text-grey">5.6 meters</p><br>

                <h5>Gear Box</h5>
                <p class="w3-text-grey">8 Speed</p>
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />

    <!-- End page content -->
    @model WikiCarsInfo.Models.Review


    <div class="container">

        <h2 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">REVIEW THIS CAR</span></h2>


        @using (Ajax.BeginForm("BMW520", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "MainBody",
            OnSuccess = "resetForm"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="padding-left:20%;">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Review_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Review_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Review_Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Review_Subject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review_Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Your_Review, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Your_Review, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Your_Review, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }


    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <br />

    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <p>To see all reviews on cars. Please click on <strong>@Html.ActionLink("ALL REVIEWS", "Index", "Reviews")</strong></p>
        </div>
    </div>
</div>